---
layout: default
---

<h1 class="content-subhead">Recent Posts</h1>

{% for post in paginator.posts %}

<li>
  <header class="post-header">
    <h2 class="post-title">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-meta">{{ post.date | date_to_string }}</span>
    <a href="{{ post.url }}#disqus_thread"
       data-disqus-identifier="{{ post.path | split:'/' | last | cgi_escape }}">
       View Comments
    </a>
  </header>

  <div class="post-description">
    {{ post.content | split:'<!--break-->' | first }}
    <a href="{{ post.url }}">...&raquo;</a>
  </div>
</li>

{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ '/' | append: site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
  {% endif %}
</div>
{% endif %}

<script type="text/javascript">

var disqus_shortname = '{{ site.disqus_shortname }}';

(function () {
  var s = document.createElement('script');
  s.async = true;
  s.type = 'text/javascript';
  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] ||
    document.getElementsByTagName('BODY')[0])
  .appendChild(s);
}());
</script>